<header>
    <!-- nav bar -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-1">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="./images/bikeshopapp1.jpg" height="55px"></a>
            <button id="mobile-menu-button" class="navbar-toggler" type="button" aria-controls="navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            {{!-- <p>
                <span class="brand-name" style="color:white">Bike Shop Management</span>
            </p> --}}

            <div class="nav-bar-link ml-auto">
                <ul class="nav float-right d-flex justify-content-around">
                    <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Home"><a href="/"
                            class="nav-link">
                            <h4><i class="web fas fa-home"></i></h4>
                        </a></li>
                    <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Bikes">
                        <a href="/catalog" class="nav-link">
                            <h4><i class="fas fa-store"></i></i></h4>
                        </a>
                    </li>
                    <li class="mt-3">
                        <span class="employee-role" style="color:white">Welcome {{user.first_name}} {{user.last_name}} -
                        </span>
                        <a class="logout" href="/logout" style="color:white">Logout</a>
                        <a href="#"><i class="text-light far fa-user-circle fa-lg"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- </nav> -->
        <!-- As a link -->

        <!-- side bar nav -->
        <div class="side-bar-nav bg-white border shadow">
            <span class="border-bottom p-3 d-block btn close-side-bar text-dark">
                <h4><i class="fas fa-window-close" data-toggle="tooltip" data-placement="bottom" title="Close"></i>
                </h4>
            </span>
            <!-- link -->
            <div class="position-relative">
                <ul class="side-nav text-center">
                    <li class="border-bottom p-2">
                        <a class="d-block" href="/">
                            <h4><i class="mobile fas fa-home" data-toggle="tooltip" data-placement="bottom"
                                    title="Home"></i></h4>
                        </a>
                    </li>
                    <li class="border-bottom p-2">
                        <span class="side-bar-nav-shop-link d-block side-bar-expandable" data-expand="#shop-expand">
                            <span><a class="d-block" href="/catalog">
                                    <h4><i class="mobile fas fa-store" data-toggle="tooltip" data-placement="bottom"
                                            title="Shopping Cart"></i></h4>
                                </a></span>
                        </span>
                    </li>
                    <li>
                        <span class="employee-role">Welcome {{user.first_name}} {{user.last_name}} - </span>
                        <a class="logout text-dark" href="/logout">Logout</a>
                        <a href="#"><i class="text-dark far fa-user-circle fa-lg"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>