<tr>
  <td id="o-number">{{id}}</td>
  <td id="o-order-detail">None</td>
  <td id="o-payment-id text-center">${row.payment.id}</td>
  <td id="o-customer-id">${row.customerID}</td>
  <td id="o-created-at">${row.createAt}</td>
  <td id="o-controls"><button type="button" class="btn btn-sm view-detail-btn btn-primary">view details</button></td>
</tr>