

    <!-- row -->
    <div class="row p-2 border-bottom L1">
        <!-- col -->
        <div class="col d-flex justify-content-between">
            <!-- icon and brand -->
            <div class="icon-brand">
                <!-- store icon -->
                <i class="fas store-icon fa-store"></i>
                <!-- brand -->
                <span class="brand-name">Bike Shop Management</span>
            </div>
            <!-- account settings and info -->
            <div class="settings-logout">
                <!-- logout -->
                <div class="logout d-inline">
                     <!-- Pull employee Data -->
                    <span class="employee-role">Welcome {{user.first_name}} {{user.last_name}} - </span>
                    <a class="logout text-dark" href="/logout">Logout</a>
                </div>

                <!-- setting -->
                <a href="#"><i class="text-dark far fa-user-circle fa-lg"></i></a>
            </div>
        </div>
    </div>