
<!-- side nav -->
<div class="side-bar bg-dark position-fixed h-80">
        <!-- nav -->
        <nav class="side-nav-bar text-white ">
            <!-- controls -->
            <div class="side-bar-controls">
                <!-- menu -->
                <ul class="list-group">
                    <!-- header -->
                    <li class="list-group-item bg-info text-white text-center">
                        <a href="#"><i class="fas fa-bars fa-lg"><span class="side-bar-nav-text px-2">ADMIN</span></i></a> 
                    </li>
                    <!-- dashboard -->
                    <li class="list-group-item p-3 text-center">
                        <a href="/dashboard"><i class="fas fa-home fa-lg "><span class="side-bar-nav-text px-2">DASHBOARD</span></i></a>
                    </li>
                    <!-- products -->
                    <li class="list-group-item p-3 text-center">
                        <a href="/products"><i class="fas fa-upload fa-lg "><span class="side-bar-nav-text px-2">PRODUCTS</span></i></a>
                    </li>
                    <!-- customers -->
                    <li class="list-group-item p-3 text-center">
                        <a href="/customers"><i class="fas fa-people-arrows fa-lg "><span class="side-bar-nav-text px-2">CUSTOMERS</span></i></a>
                    </li>
                    <!-- orders -->
                    <li class="list-group-item p-3 text-center">
                        <a href="/orders"><i class="fas fa-calendar-alt fa-lg "><span class="side-bar-nav-text px-2">ORDERS</span></i></a>
                    </li>
                    <!-- reports -->
                    {{!-- <li class="list-group-item p-3 text-center">
                        <a href="#"><i class="fas fa-chart-line fa-lg "><span class="side-bar-nav-text px-2">REPORTS</span></i></a>
                    </li> --}}
                    <!-- employees -->
                    <li class="list-group-item p-3 text-center">
                        <a href="/employees"><i class="fas fa-file-contract fa-lg "><span class="side-bar-nav-text px-2">EMPLOYEES</span></i></a>
                    </li>
                    <!-- PAYMENTS -->
                    <li class="list-group-item p-3 text-center">
                        <a href="/payments"><i class="fas fa-credit-card fa-lg "><span class="side-bar-nav-text px-2">PAYMENTS</span></i></a>
                    </li>
                    <!-- Blogs -->
                    <li class="list-group-item p-3 text-center">
                        <a href="/posts"><i class="fas fa-file-contract fa-lg "><span class="side-bar-nav-text px-2">BLOG</span></i></a>
                    </li>
                    <!-- LOG OUT -->
                    <li class="list-group-item p-3 text-center">
                        <a href="/logout"><i class="fas fa-sign-out-alt fa-lg"><span class="side-bar-nav-text px-2">LOG OUT</span></i></a>
                    </li>
                </ul>
            </div>
        </nav>
</div>