<!-- main content -->
<main>
    <!-- row -->
    <div class="row mt-4">
        <!-- col pending services and order -->
        <div class="col-sm-12 p-3 m-3 d-flex flex-wrap justify-content-around">
            <!-- pending services -->
            <div class="card text-center" style="width: 18rem;">
                <a href="#" class="d-block text-dark">
                    <div class="card-body">
                        <h5 class="card-title">Pending Serivces<i class="pl-2 fas fa-tag"></i></h5>
                        <p class="card-text">25</p>
                    </div>
                </a>
            </div>

            <!-- create order -->
            <div class="card text-center" style="width: 18rem;">
                <a href="#" class="text-dark">
                    <div class="card-body mt-3">
                        <h5 class="card-title d-block">create order<i class="pl-2 fas fa-desktop"></i></h5>
                    </div>
                </a>
            </div>

        </div>


        <!-- col sales chart -->
        <div class="col-sm-12 col-md-6 mt-4 text-center">
            <h5 class="text-center">Salse by Month</h5>
            <img class="img-fluid"
                src="https://www.microsoft.com/en-us/microsoft-365/blog/wp-content/uploads/sites/2/2012/06/Excel-charts-11.png"
                alt="">
        </div>

        <!-- col top products -->

        <div class="col-sm-12 col-md-6 mt-4 text-center">
            <h5 class="text-center">TOP PRODUCTS</h5>
            <img class="img-fluid"
                src="https://d2mvzyuse3lwjc.cloudfront.net/doc/en/UserGuide/images/2D_B_and_W_Pie_Chart/2D_B_W_Pie_Chart_1.png?v=83139"
                alt="">
        </div>



        <!-- col customer list -->
        <div class="col-sm-10 my-5 mx-auto">
            <!-- controls -->
            <div class="d-flex justify-content-between ">
                <h5 class="text-center">LIST OF CUSTOMERS</h5>
                <i class="fas fa-cog"></i>
            </div>

            <!-- employee list -->
            <ul class="employee-list p-3 list-group border">
                <!-- employee -->
                <li>
                    <div class="d-flex flex-wrap justify-content-between p-2">
                        <!-- name -->
                        <span class="employee-name align-self-center">Jerry Mattedi</span>
                        <div class="d-flex">
                            <!-- phone number -->
                            <span class=" mx-1 phone-number-container align-self-center">
                                <span class="phone-number d-block">251-661-5362</span>
                                <span>Phone Number</span>
                            </span>
                            <!-- view -->
                            <a href="#" class=" align-self-center mx-1 px-4 btn btn-primary">View</a>
                            <!-- edit -->
                            <a href="#" class=" align-self-center mx-1 px-4 btn btn-primary">Edit</a>
                        </div>
                    </div>
                </li>

                <!-- employee -->
                <li>
                    <div class="d-flex flex-wrap justify-content-between p-2">
                        <!-- name -->
                        <span class="employee-name align-self-center">Jerry Mattedi</span>
                        <div class="d-flex">
                            <!-- phone number -->
                            <span class=" mx-1 phone-number-container align-self-center">
                                <span class="phone-number d-block">251-661-5362</span>
                                <span>Phone Number</span>
                            </span>
                            <!-- view -->
                            <a href="#" class=" align-self-center mx-1 px-4 btn btn-primary">View</a>
                            <!-- edit -->
                            <a href="#" class=" align-self-center mx-1 px-4 btn btn-primary">Edit</a>
                        </div>
                    </div>
                </li>

                <!-- employee -->
                <li>
                    <div class="d-flex flex-wrap justify-content-between p-2">
                        <!-- name -->
                        <span class="employee-name align-self-center">Jerry Mattedi</span>
                        <div class="d-flex">
                            <!-- phone number -->
                            <span class=" mx-1 phone-number-container align-self-center">
                                <span class="phone-number d-block">251-661-5362</span>
                                <span>Phone Number</span>
                            </span>
                            <!-- view -->
                            <a href="#" class=" align-self-center mx-1 px-4 btn btn-primary">View</a>
                            <!-- edit -->
                            <a href="#" class=" align-self-center mx-1 px-4 btn btn-primary">Edit</a>
                        </div>
                    </div>
                </li>

                <!-- employee -->
                <li>
                    <div class="d-flex flex-wrap justify-content-between p-2">
                        <!-- name -->
                        <span class="employee-name align-self-center">Jerry Mattedi</span>
                        <div class="d-flex">
                            <!-- phone number -->
                            <span class=" mx-1 phone-number-container align-self-center">
                                <span class="phone-number d-block">251-661-5362</span>
                                <span>Phone Number</span>
                            </span>
                            <!-- view -->
                            <a href="#" class=" align-self-center mx-1 px-4 btn btn-primary">View</a>
                            <!-- edit -->
                            <a href="#" class=" align-self-center mx-1 px-4 btn btn-primary">Edit</a>
                        </div>
                    </div>
                </li>

                <!-- employee -->
                <li>
                    <div class="d-flex flex-wrap justify-content-between p-2">
                        <!-- name -->
                        <span class="employee-name align-self-center">Jerry Mattedi</span>
                        <div class="d-flex">
                            <!-- phone number -->
                            <span class=" mx-1 phone-number-container align-self-center">
                                <span class="phone-number d-block">251-661-5362</span>
                                <span>Phone Number</span>
                            </span>
                            <!-- view -->
                            <a href="#" class=" align-self-center mx-1 px-4 btn btn-primary">View</a>
                            <!-- edit -->
                            <a href="#" class=" align-self-center mx-1 px-4 btn btn-primary">Edit</a>
                        </div>
                    </div>
                </li>

                <!-- employee -->
                <li>
                    <div class="d-flex flex-wrap justify-content-between p-2">
                        <!-- name -->
                        <span class="employee-name align-self-center">Jerry Mattedi</span>
                        <div class="d-flex">
                            <!-- phone number -->
                            <span class=" mx-1 phone-number-container align-self-center">
                                <span class="phone-number d-block">251-661-5362</span>
                                <span>Phone Number</span>
                            </span>
                            <!-- view -->
                            <a href="#" class=" align-self-center mx-1 px-4 btn btn-primary">View</a>
                            <!-- edit -->
                            <a href="#" class=" align-self-center mx-1 px-4 btn btn-primary">Edit</a>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</main>