 <tr>
  <td class="pt-3-half c-id" contenteditable="true">{{id}}</td>
  <td class="pt-3-half c-name" contenteditable="true">{{name}}</td>
  <td>
  <span class="table-remove">
  <button type="button"
  class="  btn btn-save-row  btn-success line-coverage btn-rounded btn-md my-0"><i class="btn-save-row L0 fas fa-save"></i></button>
  <button type="button"
  class="  btn btn-delete-row  btn-danger btn-rounded btn-md my-0"><i class="btn-delete-row L2 fas fa-times"></i></button>
  </span>
  </td>
</tr>