<!-- footer -->
    <footer class="container border-top pt-4 mb-2">
      <!-- row -->
      <div class="row">
        <!-- col -->
        <div class="col-sm-3">
          <img  src="https://thumbs.dreamstime.com/z/shop-building-colorful-isolated-white-33822015.jpg" class="d-block img-fluid" alt="Bike Shop">
          <span>Online Bike Shop</span>
        </div>

        <!-- col -->
        <div class="col-sm-9 d-flex justify-content-between flex-wrap mt-3">
          <ul >
            <li class="mb-3"><a href="#">MAIN MENU</a></li>

            <li><a class="text-dark" href="/index.html"> Home</a></li>
            <li><a class="text-dark" href="/about.html">About</a></li>
            <li><a class="text-dark" href="/shop.html">Shop</a></li>
            <li><a class="text-dark" href="/contacts.html">Contacts</a></li>
          </ul>
          <ul class="p-2">
            <li class="mb-3"><a href="#">Management</a></li>

            <li><a class="text-dark" href="/login"> Intranet Sign-in</a></li>
          </ul>
          <ul class="p-2">
            <li class="mb-3"><a href="#">News</a></li>

            <li><a class="text-dark" href="#">Blog</a></li>
          </ul>
          <ul class="p-2">
            <li class="mb-3"><a href="#">FIND US ON</a></li>

            <li><a class="text-dark" href="#"> Facebook</a></li>
            <li><a class="text-dark" href="#">Twitter</a></li>
            <li><a class="text-dark" href="#">Instagram</a></li>
          </ul>
        </div>
      </div>
    </footer>
