<!-- related product card -->
<div class="card m-2" style="width: 18rem;">
  <img class="card-img-top img-fluid" src="{{image}}"
    alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">${{msrp}}</p>
    <a href="/api/product/display/{{id}}" class="btn btn-primary">View Details</a>
  </div>
</div>