  <!-- footer -->
  <footer class="border-top pt-4 mb-2">
    <div class="container">
      <!-- row -->
      <div class="row">

        <div class="col-sm-3 d-flex justify-content-between flex-wrap">
          <ul class="p-2">
            <li class="mb-3"><p>MAIN MENU</p></li>

            <li><a href="/index.html"> Home</a></li>
            <li><a href="/catalog">Shop</a></li>
          </ul>
        </div>
        <div class="col-sm-3 d-flex justify-content-between flex-wrap">
          <ul class="p-2">
            <li class="mb-3"><p>MANAGEMENT</p></li>
            <!-- href changed from /login to /dashboard due Heroku doesn't close logging session after the user has not logged out from the management system,  and an error is produce. -->
            <li><a href="/dashboard"> Intranet Sign-in</a></li>
          </ul>
        </div>
        <div class="col-sm-3 d-flex justify-content-between flex-wrap">
          <ul class="p-2">
            <li class="mb-3"><p>NEWS</p></li>

            <li><a href="/blog">Blog</a></li>
          </ul>
        </div>
        <div class="col-sm-3 d-flex justify-content-between flex-wrap">
          <ul class="p-2">
            <li class="mb-3"><p>FIND US ON</p></li>

            <li><h3><a class="text-dark" href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fab fa-facebook-square"></i></a></h3></li>
            <li><h3><a class="text-dark" href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fab fa-twitter-square" ></i></a></h3></li>
            <li><h3><a class="text-dark" href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fab fa-instagram"></i></a></h3></li>
          </ul>
        </div>
        </div>
      </div>
    </div>

    <!-- license -->
    <div class="container-fluid bg-dark text-white text-center p-2">
      &#169; Bike Shop App
    </div>
  </footer>