<div class="blog-post">
    <h2 class="blog-post-title"><a href="#">{{title}}</a></h2>
    <p class="blog-post-meta">{{createdAt}} by <span style="font-weight:bold;">{{author}}</span> </p>
    <div class="p-2">{{description}}</div>
    <br></br>
    
</div>