<div class="blog-post">
    <h2 class="blog-post-title"><a href="#">{{title}}</a></h2>
    <p class="blog-post-meta">{{createdAt}} by {{author}}</p>
    <div>{{description}}</div>
    <br></br>
</div>