 {{> dashboard-header}}
{{> dashboard-sidebar}}
<main>  
    <!-- row -->
  <div class="row">
      <div class="col">
            <div class="tab-content" id="myTabContent">
            {{!-- employee table --}}
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="col">
                    <!-- Editable table -->
                    <div class="card blog-posts-table">
                        <h3 class="card-header text-center font-weight-bold text-uppercase py-4">All blog-posts</h3>
                        <div class="card-body">
                            <div id="blog-posts-table" class="table-editable">
                                <div class="d-flex mb-3">
                                    <span class="align-self-center mr-2">Search: </span>
                                    <input type="text" class="form-control w-25 " id="blog-postsearchInput"> 
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-sm btn-success ml-auto" data-toggle="modal" data-target="#blog-posts-modal">
                                    <i class="btn-add-blog-post fas fa-plus fa-2x" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <!--Table-->
                                <table id="blog-posts-table" class="table table-bordered table-hover">
                                    <!--Table head-->
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Title</th>
                                        <th>Author</th>
                                        <th>Description</th>
                                        <th>Created</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <!--Table body-->
                                    <tbody id="blog-posts-table-body">
                                        {{#each blogs}}                                            
                                            {{> dashboard-blog-posts}}                                         
                                        {{/each}}
                                    </tbody>
                                    <!--Table body-->
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
      </div>
  </div>   


  {{!-- <!-- modal - create new blog-post --> --}}
    <div class="modal fade" id="blog-posts-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="blog-postsmodal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add new Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                 {{!-- container --}}
                 <div class="container-fluid">
                    {{!-- <!-- form row --> --}}
                    <form action="#" class="p-2 row">
                       
                            <!-- col - post title -->
                            <div class="col-sm-8 mb-4">
                                <label for="name">Post Title</label>
                                <input type="text" class="form-control" id="bp-title" name="title" aria-describedby="posttitle">
                            </div>

                            <!-- col - post author -->
                            <div class="col-sm-8 mb-4">
                                <label for="name">Author</label>
                                <input type="text" class="form-control" id="bp-author" name="author" aria-describedby="postauthor">
                            </div>
                            
                            <!-- post descirption -->
                            <div class="col-sm-10">
                                <label for="bp-description">Post Description</label>
                                <textarea class="form-control" name="description" id="bp-description" rows="3"></textarea>
                            </div>
                    </form>


                 </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="add-new-brand-btn" class="btn btn-primary">Add Post</button>
            </div>
            </div>
        </div>
    </div>


    <!-- modal - edit blog-post --> 
    <div class="modal fade" id="edit-blog-post-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="blogpostmodal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edit Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{!-- container --}}
                 <div class="container-fluid">
                    
                        {{!-- form --}}
                        <form action="#" method="POST" class="p-2 row">
                            <!-- col - post id -->
                            <div class="col-sm-8 mb-4">
                                <label for="name">Id</label>
                                <input type="text" class="form-control" id="id-input-edit-blog-post" name="title" aria-describedby="posttitle">
                            </div>
                            <!-- col - post title -->
                            <div class="col-sm-8 mb-4">
                                <label for="name">Post Title</label>
                                <input type="text" class="form-control" id="title-input-edit-blog-post" name="title" aria-describedby="posttitle">
                            </div>

                            <!-- col - post author -->
                            <div class="col-sm-8 mb-4">
                                <label for="name">Author</label>
                                <input type="text" class="form-control" id="author-input-edit-blog-post" name="author" aria-describedby="postauthor">
                            </div>
                            
                            <!-- post descirption -->
                            <div class="col-sm-10">
                                <label for="bp-description">Description</label>
                                <textarea class="form-control" name="description" id="description-input-edit-blog-post" rows="3"></textarea>
                            </div>
                        </form>
                 </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="edit-blog-post-type-btn" class="btn btn-primary">Save Post</button>
            </div>
            </div>
        </div>
    </div>
  </main>    