{{> html-navbar}}

<!-- main -->
<main class="container mt-4">

    <!-- row blog display -->
    <div class="row">

        <!-- col blog heading-->
        <div class="col-sm-12">
            <!-- blog title -->
            <h4>BLOG</h4>

        </div>

        <!-- col blog display-->
        <div class="col-sm-12 col-md-8">
            <div>
                <!-- blog description -->
                <p>Blog description </p>
                </p>

            </div>
        </div>

        <!-- col blog side description-->
        <div class="col-sm-12 col-md-4 d-flex flex-column justify-content-between">
            <!-- display information -->
            <p class="add-to-cart-msg">
                Blog side description
            </p>

        </div>

    </div>


</main>

{{> html-footer}}