main {
  margin-left: 15%;
}

.jumbotron {
  background-image: url("../images/bike_hero_1.jpg");
  background-size: cover;
  padding: 5em inherit;
  min-height: 575px;

}

.fas {
  color:white;
}

form.signup,
form.login {
  margin-top: 50px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#here {
  color: blue;
}

.tab-content {
  overflow: auto;
}

.products-table {
  overflow: auto;
}

.table-remove {
  white-space: nowrap;
}

.list-group-item {
  color: white !important;
  background-color: #333;
  font-size: 10px;
  border-color: rgb(95, 95, 95);
}

.table-editable {
  overflow: auto;
}

.pt-3-half {
  padding-top: 1.4rem;
}

.brand-name {
  display: none;
}

.employee-list li:hover {
  border-radius: .25rem;
  background-color: rgb(238, 238, 238);
}

.center-title {
  color: white;
  font-size: 20px;
  text-align: center;
  align-content: center;
  margin-top: 12px;
}

/* side bar */

.side-bar a {
  color: white;
  text-align: center;
}

.side-bar-nav-text {
  display: none;
}

.side-bar {
  width: 15%;
  transition: width .5s;
  z-index: 99;
}

.side-nav {
  padding: 0;
  margin: 0;
}

.nav-bar-link {
  display: none;
}

.navbar-toggler {
  display: inline-block;
}

.side-bar-nav {
  position: fixed;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  overflow: hidden;
  transition: left 0.5s;
  z-index: 99;
}

.side-bar-nav-shop-list {
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  overflow: hidden;
  transition: left 0.5s;
  z-index: 199;
  overflow: auto;
}

/* cart */
#cart-item-count {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

#cart-table {
  overflow: auto;
}

/* products display */
.product-thumbnail {
  border-radius: .35rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all .3s cubic-bezier(.25,.8,.25,1);
}

.product-thumbnail:hover {
  box-shadow: 0 14px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-img-top {
  height: 10rem;
}

.mobile-sidebar-filter {
  font-size: 14px;
  background-color: white;
  position: fixed;
  top: 0;
  left: -175px;
  height: 100%;
  width: 175px;
  z-index: 999;
  box-shadow: 0 14px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all .3s cubic-bezier(.25,.8,.25,1);
}

.close-mobile-sidebar-filter, .mobile-sidebar-filter label{
  cursor: pointer;
}

.sidebar-filter {
  display: none;
}

#filter-button {
  display: block;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: rgb(0, 68, 255);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: rgb(0, 68, 255);
}


/* media queries */

/* tablets add jumbotro*/
@media only screen and (min-width: 576px) {
  .nav-bar-link {
    display: inline-block;
  }
  .navbar-toggler {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .side-bar-nav-text {
      display: inline
  }
  .side-bar li {
      text-align: start !important;
  }
  .side-bar {
      width: 15%;
      text-align: start !important;
  }
  .side-bar:hover {
      width: 15%;
  }

  .mobile-sidebar-filter {
    display: none;
  }

  .sidebar-filter {
    display: block;
  }

  #filter-button {
    display: none;
  }

}

@media only screen and (max-width:600px){
  .carousel-caption{
    position: revert;
    margin-bottom: 15px;
  }
}